
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'nunito', sans-serif;
    font-size: 14px;

}

a{
    text-decoration: none;
    color: #222;
}

header{
    background-color: #23160c ;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
header nav a{
    text-decoration: none;
    color: antiquewhite;
    padding: 10px;
}

header nav a:hover{
    border-bottom: solid 4px #ddb99d;
}

.right{
    text-align: right;
}

.flex.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.white{
    color: #eee;
}
.social-icons{
    padding-right: 20px;
}
.social-icons img{
    padding: 0 5px;
}
